body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#container {
  width: 100%;
}

#first {
  width: 30%;
  float: left;
  background-color: black;
  background-image: url('https://1.bp.blogspot.com/-1rA0EIP2hyc/WD1UzNb4hCI/AAAAAAAAuow/wE_V31FzrmYI3bmiVs1kfhdy_k-npLr2QCLcB/s1600/bmw-i3-1.jpg');
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  background-size: auto;
  background-repeat: no-repeat;
}

#content {
  margin-left: 10%;
}

#result, #status {
  color: #006699;
}

#second {
  margin-top: 5%;
  width: 70%;
  float: right;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #006699;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #006699;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}
